body {
    padding: 100px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
h2 {
    text-align: center;
}

button {
    margin: 10px;
}