<%- include("header", {}) %>
    <div class = "contenidoInicioUsuario">
        <!-- contiene todo -->
        <div class="wrapper" id="inicioBizum"> 
            <div class="acciones">
                <br>
               <p>Bienvenido <%= user.username %> al apartado "Bizum", donde podrá enviar dinero rápidamente
                a sus contactos
               </p>
            </div>
            <div class="form-box bizum">
                <h2>Bizum</h2>
                <h4> Rellene los siguientes campos: </h4>
                <form action="#">
                    <div class="input-box">
                        <span class="icon"></span>
                        <input id="telefono" required/>
                        <label type="text">Teléfono</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"></span>
                        <input type="text" id = "cantidad" required/>
                        <label>Cantidad</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"></span>
                        <input type="text" id = "Asunto" required/>
                        <label>Asunto</label>
                    </div>
                    <div class="envioBizum"> 
                        <button type="submit" class="boton"> Enviar </button>
                        <div class="saldoRestante">
                            Saldo restante: $0,00
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>