<%- include("header", {}) %>
    <div class = "contenidoEnviaDinero">
        <!-- contiene todo -->
        <div class="wrapper" id="inicioEnviaDinero"> 
            <div class="caracteristicas">
                <h2> Envia Dinero con Sbank</h2>
                <div class="caracteristicasEnviaDinero">
                    <div class="caracteristicasBizum">
                        <h2> Caracteristicas Bizum</h2>
                        <ol>
                            <li> Puedes pagar hasta 50 euros</li>
                            <li> No requiere supervisión </li>
                            <li> Instantáneo </li>
                        </ol>
                    </div>
                    <div class="caracteristicasTransferencia">
                        <h2> Caracteristicas Transferencias</h2>
                        <ol>
                            <li> Puedes pagar tanto dinero como dispongas</li>
                            <li> Requiere supervisión por parte del administrador</li>
                            <li> Rápido, pero no instantáneo </li>
                        </ol>
                    </div>
                </div>
                <div class="elegirOperacion">
                <p>¿Qué operación desea realizar?</p>
                </div>
                <div class="seleccionaOperacion">
                    <a href="bizum"><button class="boton"> Bizum</button></a>
                    <a href="transferencia"><button class="boton"> Transferencia</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>