<% if (user) { %> 
    <% if (user.rol === "admin") { %>
    <div class="sidebarDerecha" id="sidebarAdmin">
        <h4>Usuarios</h4>
        
        <div class="balance">
        <div class="info">
            <h5>NombreUsuario1</h5>
            <span>Last Login: 1-11-2023</span>
        </div>
        </div>
        <div class="balance">
        <div class="info">
            <h5>NombreUsuario2</h5>
            <span>Last Login: 31-1-2023</span>
        </div>
        </div>
        <div class="balance">
        <div class="info">
            <h5>NombreUsuario3</h5>
            <span>Last Login: 29-10-2023</span>
        </div>
        </div>
        <div class="balance">
        <div class="info">
            <h5>NombreUsuario4</h5>
            <span>Last Login: 27-10-2023</span>
        </div>
        </div>
        <div class="balance">
        <div class="info">
            <h5>NombreUsuario5</h5>
            <span>Last Login: 25-10-2023</span>
        </div>
        </div>
        <div class="balance">
        <div class="info">
            <h5>NombreUsuario6</h5>
            <span>Last Login: 23-10-2023</span>
        </div>
        </div>
    </div>
    <% } else if (user.rol === "user") { %>
        <div class="sidebarDerecha" id="sidebarDerechaInicio">
            <div class="titulo">
                <h4>Account Balance</h4>
            </div>
            <div class="balance">
              <!-- <i class="fas fa-dollar icon"></i> -->
              <i id="dolar" class='bx bx-dollar'></i>
              <div class="info">
                <h5>Dollar</h5>
                <span></i>25,000.00<i class='bx bx-dollar'></i></span>
              </div>
            </div>
            
            <div class="balance">
            <i id = "inr" class='bx bx-rupee' ></i>
              <div class="info">
                <h5>INR</h5>
                <span></i>300,000.00<i class='bx bx-rupee' ></i></span>
              </div>
            </div>
      
            <div class="balance">
            <i id = "euro" class='bx bx-euro' ></i></i>
              <div class="info">
                <h5>Euro</h5>
                <span></i>25,000.00<i class='bx bx-euro' ></i></span>
              </div>
            </div>
      
            <div class="balance">
            <i id="yenes"class='bx bx-yen'></i></i>
              <div class="info">
                <h5>JPY</h5>
                <span></i>220,000.00<i class='bx bx-yen'></i></span>
              </div>
            </div>
      
            <div class="balance">
                <i id= "pound"class='bx bx-pound' ></i>
              <div class="info">
                <h5>Pound</h5>
                <span></i>30,000.00<i class='bx bx-pound'></i></span>
              </div>
            </div>
      
          </div>
        </div>
    </div>
    </body>
    </html> 
    <% } %>
<% } %>