<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
    <script src='../public/javascripts/scripts.js' defer></script>
</head>
<body id="inicioUsuario">
    <header class="headerSidebar">
        <nav class="navigation">
            <a href='beneficioRegistro' class="boton" id="Portada">Beneficios</a>
            <a href='conversor' class="boton" id="botonSobreNosotros">Conversor</a>
            <a href="/"><button class="botonLogin" id="botonRegistro"> Inicio </button></a>
            <a href="registro"><button class="botonLogin" id = "botonLogin"> Registro</button></a>
        </nav>
    </header>
    <nav class="sidebar close"> 
        <header>
           <div class="image-text">
                <span class="image">
                    <img src="images/logo.png" alt="logo" />
                </span>
                <div class="text header-text">
                    <span class="name"> Bienvenido</span>
                    <span class="profession">Usuario invitado</span>
                    
                </div>
           </div> 
           <i class='bx bx-chevron-right toggle'></i>
           
        </header>
        <div class="menu-bar"> 
            <div class="menu">
                <li class="search-box">
                    <i class="bx bx-search icon"></i>
                    <input type="search" placeholder="Search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="beneficioRegistro">
                            <i class='bx bxs-check-square'></i>
                            <span class="text nav-text">Beneficios</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="conversor">
                            <i class='bx bx-credit-card'></i>
                            <span class="text nav-text"> Conversor</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="registro">
                            <i class='bx bx-log-in'></i>
                            <span class="text nav-text"> Registro</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="/">
                        <i class="bx bx-log-out"></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>