<%- include("header", {}) %>
    <div class = "contenidoInicioUsuario">
        <!-- contiene todo -->
        <div class="wrapper" id="inicioUsuarioRegistrado"> 
            <div class="acciones">
               <p>"Bienvenido <%= user.username %> a su panel de control"</p>
               <br>
               <p> Acciones:</p>
               <br><br>
               <a href="EnviaDinero"><button class="boton"> Envía dinero</button></a>
               <a href="cambioSaldo"><button class="boton"> Convertir</button></a>
            </div>
            <div class="saldo">
                <br>
                <p>Tu saldo:</p>
                <div class = "cifra">
                    <div class = "acciones2">
                        <a href="#"><button class="boton">+</button></a>
                        <a href="#"><button class="boton">-</button></a> 
                        <p> 1 $</p>
                    </div>
                </div>
            </div>
            <div class="ultimosMovimientos">
                <p>Aquí puede ver un resumen de sus últimos movimientos</p>
                <div>
                    últimos movimientos
                </div>
            </div>
        </div>
<%- include("footer", {}) %>
