<%- include("headerInvitado", {}) %>
    <div class = "contenidoInicioUsuario">
        <div class="wrapper" id="inicioInvitado">
            <div class="texto">
                <h2 style="color: white;">Bienvenido</h2>
                <br><br>
                <p> Estamos encantados de recibir su visita. Usted ha accedido 
                    a la versión de usuario invitado. En esta interfaz, 
                    únicamente tendrá acceso a una versión limitada de 
                    la aplicación.  <br>Si quiere conocer más, haga click 
                    en el siguiente botón</p>
                <br><br><br>
                <a href='beneficioRegistro' class="boton">Quiero saber más</a>
            </div>
        </div>
        
        <div class="accedeAlConversor">
            <img src="images/graficoMonedas.png">
            <p> Accede al conversor</p><br><br>
            <a href='conversor' class="boton"> Conversor</a>

        </div>
    </div>
</body>
</html>