<%- include("headerAdmin", {}) %>
        <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/styleAdmin.css'/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
        <script src='../public/javascripts/scripts.js' defer></script>
        <div class="main-body">
            <h2>Dashboard</h2>
            <div class="promo_card">
            <h1>Welcome to SBank</h1>
            <span>Gestiona la información de la aplicación</span>
            <button>Learn More</button>
            </div>
    
            <div class="history_lists">
            <div class="list1">
                <div class="row">
                <h4>History</h4>
                <a href="#">See all</a>
                </div>
                <table class="tableAdmin">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>Dates</th>
                    <th>Name</th>
                    <th>Número</th>
                    <th>Dni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>1</td>
                    <td>2, Aug, 2022</td>
                    <td>Sam Tonny</td>
                    <td>625678901</td>
                    <td>06712453F</td>
                    </tr>
                    <tr>
                    <td>2</td>
                    <td>29, July, 2022</td>
                    <td>Code Info</td>
                    <td>678905721</td>
                    <td>12345678P</td>
                    </tr>
                    <tr>
                    <td>3</td>
                    <td>15, July, 2022</td>
                    <td>Jhon David</td>
                    <td>654321789</td>
                    <td>09876543R</td>
                    </tr>
                    <tr>
                    <td>4</td>
                    <td>5, July, 2022</td>
                    <td>Salina Gomiz</td>
                    <td>654789012</td>
                    <td>12346783R</td>
                    </tr>
                    <tr>
                    <td>5</td>
                    <td>29, June, 2022</td>
                    <td>Gomiz</td>
                    <td>654389012</td>
                    <td>87634251P</td>
                    </tr>
                    <tr>
                    <td>6</td>
                    <td>28, June, 2022</td>
                    <td>Elyana Jhon</td>
                    <td>678942351</td>
                    <td>78912345T</td>
                    </tr>
                </tbody>
                </table>
            </div>
    
            <div class="list2">
                <div class="row">
                <h4>Logs</h4>
                <a href="#">Upload</a>
                </div>
                <table class="tableAdmin">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>Tipo</th>
                    <th>Remitente</th>
                    <th>Destinatario</th>
                    <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>1</td>
                    <td>Bizum</td>
                    <td>689123455</td>
                    <td>678901234</td>
                    <td>20</td>
                    </tr>
                    <tr>
                    <td>2</td>
                    <td>Transaccion</td>
                    <td>621345677</td>
                    <td>698321576</td>
                    <td>65</td>
                    </tr>
                    <tr>
                    <td>3</td>
                    <td>Transaccion</td>
                    <td>652138934</td>
                    <td>679312356</td>
                    <td>50</td>
                    </tr>
                    <tr>
                    <td>4</td>
                    <td>Bizum</td>
                    <td>619834657</td>
                    <td>650123456</td>
                    <td>10</td>
                    </tr> 
                    <tr>
                    <td>5</td>
                    <td>Transaccion</td>
                    <td>692173094</td>
                    <td>620923458</td>
                    <td>100</td>
                    </tr> 
                    <tr>
                    <td>6</td>
                    <td>Transaccion</td>
                    <td>670129405</td>
                    <td>645789012</td>
                    <td>80</td>
                    </tr> 
                </tbody>
                </table>
            </div>
            </div>
        </div>
    
        <%- include("footer", {}) %>
    </body>
    </html>
