<%- include("header", {}) %>
    <div class="wrapper">
    <div class="form-box login">
        <h2>Login</h2>
        <form method="post" action="/login">
            <div class="input-box">
                <span class="icon"></span>
                <input id="phoneNumber"  name="phoneNumber" required/>
                <label type="text">Teléfono</label>
            </div>
            <div class="input-box">
                <span class="icon"></span>
                <input type="password" id = "password" name="password" required/>
                <label>Contraseña</label>
            </div>
            <button type="submit" class="boton"> Iniciar sesión </button>
            <div class="login-register">
                <p> ¿Todavía no tienes cuenta? </p>
                <a href="registro" class="register-link"> Regístrate ahora! </a>
            </div>
            <div class="Error"> <%=mensaje%></div>
        </form>
    </div>
</body>
</html>