<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
    <script src="../public/javascript/login.js" defer></script>
</head>
<body class="fondoInicial">
    <header>
        <h2 class="logo">Sbank</h2>
        <nav class="navigation">
            <a href='/' class="boton">Inicio</a>
            <a href='sobreNosotros' class="boton">Sobre Nosotros</a>
            <a href="registro"> <button class="botonLogin"> Registro</button></a>
        </nav>
    </header>
    <div class="wrapper">
    <div class="form-box login">
        <h2>Login</h2>
        <form method="post" action="/login">
            <div class="input-box">
                <span class="icon"></span>
                <input id="phoneNumber"  name="phoneNumber" required/>
                <label type="text">Teléfono</label>
            </div>
            <div class="input-box">
                <span class="icon"></span>
                <input type="password" id = "password" name="password" required/>
                <label>Contraseña</label>
            </div>
            <button type="submit" class="boton"> Iniciar sesión </button>
            <div class="login-register">
                <p> ¿Todavía no tienes cuenta? </p>
                <a href="registro" class="register-link"> Regístrate ahora! </a>
            </div>
        </form>
    </div>
</body>
</html>