<%- include("header", {}) %>
        <div class="main-body" id="mainBodyPanel">
          <h2>Dashboard</h2>
          <div class="promo_card">
            <h1>UsuarioA</h1>
            <span>Gestiona la informaci贸n del usuario</span>
            <button>Learn More</button>
            <div id="botonPanel">
              <button onclick="toggleDropdown('dropdown1')" class="dropbtn">Acciones</button>
              <div id="dropdown1" class="dropdown-content">
                <a href="#">Transacciones</a>
                <a href="#">Logs</a>
                <a href="#">Eliminar</a>
              </div>
            </div>
          </div>
          <div class="promo_card">
            <h1>UsuarioB</h1>
            <span>Gestiona la informaci贸n del usuario</span>
            <button>Learn More</button>
            <div id="botonPanel">
              <button onclick="toggleDropdown('dropdown2')" class="dropbtn">Acciones</button>
              <div id="dropdown2" class="dropdown-content">
                <a href="#">Transacciones</a>
                <a href="#">Logs</a>
                <a href="#">Eliminar</a>
              </div>
            </div>
          </div>
          <div class="promo_card">
            <h1>UsuarioC</h1>
            <span>Gestiona la informaci贸n del usuario</span>
            <button>Learn More</button>
            <div id="botonPanel">
              <button onclick="toggleDropdown('dropdown3')" class="dropbtn">Acciones</button>
              <div id="dropdown3" class="dropdown-content">
                <a href="#">Transacciones</a>
                <a href="#">Logs</a>
                <a href="#">Eliminar</a>
              </div>
            </div>
          </div>
          <div class="promo_card">
            <h1>UsuarioD</h1>
            <span>Gestiona la informaci贸n del usuario</span>
            <button>Learn More</button>
            <div id="botonPanel">
              <button onclick="toggleDropdown('dropdown4')" class="dropbtn">Acciones</button>
              <div id="dropdown4" class="dropdown-content">
                <a href="#">Transacciones</a>
                <a href="#">Logs</a>
                <a href="#">Eliminar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebarDerecha" id="sidebarAdminP">
        <h4>Usuarios</h4>
        
        <div class="balance">
        <div class="info">
            <h5>NombreUsuario1</h5>
            <span>Last Login: 1-11-2023</span>
        </div>
        </div>
        <div class="balance">
        <div class="info">
            <h5>NombreUsuario2</h5>
            <span>Last Login: 31-1-2023</span>
        </div>
        </div>
        <div class="balance">
        <div class="info">
            <h5>NombreUsuario3</h5>
            <span>Last Login: 29-10-2023</span>
        </div>
        </div>
        <div class="balance">
        <div class="info">
            <h5>NombreUsuario4</h5>
            <span>Last Login: 27-10-2023</span>
        </div>
        </div>
        <div class="balance">
        <div class="info">
            <h5>NombreUsuario5</h5>
            <span>Last Login: 25-10-2023</span>
        </div>
        </div>
        <div class="balance">
        <div class="info">
            <h5>NombreUsuario6</h5>
            <span>Last Login: 23-10-2023</span>
        </div>
      </div>
    </div>
    </body>
    </html>
