<%- include("header", {}) %>
    <div id = "registro" class="wrapper">
    <div class="form-box login">
        <h2>Registro</h2>
        <form method="post" action="/registro" id="form">
            <div class="input-box">
                <span class="icon"></span>
                <input id="phoneNumber" type="text" name="phoneNumber" min="9" max="9" required/>
                <label >Teléfono</label>
            </div>
            <div class="input-box">
                <span class="icon"></span>
                <input type="text" id = "username" name="username" required/>
                <label>Nombre usuario</label>
            </div>
            <div class="input-box">
                <span class="icon"></span>
                <input type="password" id = "password" name="password" required/>
                <label>Contraseña</label>
            </div>
            <div class="input-box">
                <span class="icon"></span>
                <input type="password" id = "password1" name="password1" required/>
                <label>Repite la contraseña</label>
            </div>
            <div class = "login-register">
                <a href="login" class="register-link">¿Tienes ya una cuenta? Inicia sesión</a>
            </div>
            <button type="submit" class="boton" onclick="passwordConfirmation()"> Registrarme </button>
            <div class="Error"></div>
            <div class="Error"> <%=mensaje%></div>
        </form>
    </div>
</body>
</html>