<%- include("header", {}) %>
    <div class="contenedor">
        <div class="texto"> 
            <h2>Sobre nosotros</h2>
            <br>
            <p>La principal finalidad de este proyecto es <b>crear una aplicación web
                que permita a los usuarios realizar las operaciones bancarias necesarias</b>,
                cómoda y digitalmente, sin tener que acudir presencialmente. Para realizar 
                estas operaciones, el usuario no requiere cita previa, y puede hacerlas a su 
                gusto.
            </p>
            <br>
            <p> Nuestro lema es <b>"Safe, Short, Smart", </b> traducido del inglés viene a  ser 
                "Seguro, Corto, Inteligente". De coger la letra S, común en estas tres palabras en su 
                lengua original, surge el nombre de nuestro banco, <b>"Sbank"</b>. 
            </p> <br>
            <p> Estas tres palabras representan nuestra misión:
                Realizar gestiones bancarias que supongan una ayuda al usuario, y no un impedimento.
                Con nuestras herramientas digitales, podrás realizar tus operaciones con facilidad, 
                seguridad y confianza.
            </p> <br>
            <p> Una vez nos hemos presentado te invitamos a que <b>pruebes nuestra aplicación bancaria,</b> 
                y podemos asegurarte que no te arrepentirás.  </p>
            <div class="grupo">
                <div>
                        <a href="inicioInvitado"><button id="botonInicioInvitado">Invitado</button> </a>
                </div>
                <div id="portadaLogin">
                        <a href="registro"><button id="botonRegistro">Registro</button></a>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>