<%- include("header", {}) %>
        <div class="main-body" id="mainBodyPanel">
          <h2>Dashboard</h2>
          <div class="contenedorTransacciones">
            <h1>Transaccion1</h1>
            <div id="informacionContenedorTransacciones">
                <div class="contenedorTransaccionesPreguntas">
                    <span>Usuario emisor: </span>
                    <span>Usuario receptor: </span>
                    <span>cantidad enviada: </span>
                    <span>id transacción: </span>
                </div>
                <div class="contenedorTransaccionesRespuestas">
                    <span> 687123405</span>
                    <span> 652186721</span>
                    <span> 55</span>
                    <span> 111111111 </span>
                </div>
            </div>
            <div id="botonTransaccion">
                <button id="aceptarTransaccion"> Aceptar</button>
                <button id="RechazarTransaccion"> Rechazar</button>
            </div>
            <div class="contenedorTransacciones">
                <h1>Transaccion2</h1>
                <div id="informacionContenedorTransacciones">
                    <div class="contenedorTransaccionesPreguntas">
                        <span>Usuario emisor: </span>
                        <span>Usuario receptor: </span>
                        <span>cantidad enviada: </span>
                        <span>id transacción: </span>
                    </div>
                    <div class="contenedorTransaccionesRespuestas">
                        <span> 687123405</span>
                        <span> 652186721</span>
                        <span> 55</span>
                        <span> 111111111 </span>
                    </div>
                </div>
                <div id="botonTransaccion">
                    <button id="aceptarTransaccion"> Aceptar</button>
                    <button id="RechazarTransaccion"> Rechazar</button>
                </div>
          </div>
          <div class="sidebarDerecha" id="sidebarAdminT">
            <h4>Usuarios</h4>
            
            <div class="balance">
            <div class="info">
                <h5>NombreUsuario1</h5>
                <span>Last Login: 1-11-2023</span>
            </div>
            </div>
            <div class="balance">
            <div class="info">
                <h5>NombreUsuario2</h5>
                <span>Last Login: 31-1-2023</span>
            </div>
            </div>
            <div class="balance">
            <div class="info">
                <h5>NombreUsuario3</h5>
                <span>Last Login: 29-10-2023</span>
            </div>
            </div>
            <div class="balance">
            <div class="info">
                <h5>NombreUsuario4</h5>
                <span>Last Login: 27-10-2023</span>
            </div>
            </div>
            <div class="balance">
            <div class="info">
                <h5>NombreUsuario5</h5>
                <span>Last Login: 25-10-2023</span>
            </div>
            </div>
            <div class="balance">
            <div class="info">
                <h5>NombreUsuario6</h5>
                <span>Last Login: 23-10-2023</span>
            </div>
            </div>
        </div>
        
      </div>
    </body>
    </html>
