<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'/>
    <script src='../public/javascripts/index.js' defer></script>

</head>
<body class="fondoInicial">
    <header>
        <h2 class="logo">Sbank</h2>
        <nav class="navigation">
            <a href='index.html' class="boton" id="Portada">Inicio</a>
            <a href='sobreNosotros.html' class="boton" id="botonSobreNosotros">Sobre Nosotros</a>
            <a href="login.html"><button class="botonLogin" id = "botonLogin"> Iniciar Sesión</button></a>
            <a href="registro.html"><button class="botonLogin" id="botonRegistro"> Registro</button></a>
        </nav>
    </header>
    <div class = "contenedor">
        <div class="texto"> 
            <h2>Bienvenido a sbank</h2>
            <br>
            <p>Estamos encantados de recibir su visita. Somos un banco que buscamos el mayor rendimiento para sus bienes.</p>
            <br>
            <p> No dudes de consultar acerca de quiénes somos y cómo funcionamos</p>
            <p> Regístrese y descubra todos nuestros beneficios. </p>
            <div class="grupo">
                <div>
                    <a href="sobreNosotros"><button id="botonAcerca">Sobre nosotros</button> </a>
                </div>
                <div>
                    <img src="images/fotoPortada.png" alt="" width="300px" height="auto">
                </div>
                <div id="portadaLogin">
                        <a href="login"><button id="botonLogin">Iniciar sesión</button></a>
                        <a href="registro"><button id="botonRegistro">Registro</button></a>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>
